################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LearningCoreTech/.vs/LearningCoreTech/v16
/LearningCoreTech/LearningCoreTech/obj
